@import "../../sass/global";

.loader-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-lg {
  height: 60vh;
}

.section-md {
  height: 40vh;
}

.section-sm {
  height: 20vh;
}

.loader {
  height: 10rem;
  width: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  &__child {
    width: 2rem;
    height: 2rem;
    border-radius: var(--border-radius-circle);
    background-color: var(--defaultDark);
    animation: loader_animation 0.5s ease-out infinite alternate;

    &:nth-child(2) {
      background-color: lighten($defaultDark, 10%);
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      background-color: lighten($defaultDark, 20%);
      animation-delay: 0.2s;
    }

    &:nth-child(4) {
      background-color: lighten($defaultDark, 30%);
      animation-delay: 0.3s;
    }

    &:nth-child(5) {
      background-color: lighten($defaultDark, 40%);
      animation-delay: 0.4s;
    }
  }
}
