@import "../../sass/global";

.loader-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#303030, 0.4);
  backdrop-filter: blur(1px);
  z-index: 30;

  .loader-content {
    position: absolute;
    z-index: 30;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1rem solid whitesmoke;
    border-top: 1rem solid $defaultDark;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    animation: spin_animation 2s linear infinite;
  }
}
