.notes-modal {
  &__label {
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--default);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: inherit;
  }

  &__textarea {
    background-color: transparent;
    border: 2px solid grey;
    outline: 0;
    transition: 0.4s all;
    color: var(--text-color);
    font-family: inherit;

    &:focus {
      border: 2px solid var(--default);
    }
  }

  &__btn {
    margin-left: 0;
    margin-right: 0;
  }
}
