@import "../../sass/global";

.error-section {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.error-img {
  height: 12rem;
}

.error-text {
  color: $default;
  font-size: 2rem;
  font-weight: 500;
}

.empty-btn {
  text-transform: capitalize;
}
