@import "../../sass/global";

.video-section {
  &__display {
    width: 60vw;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__frame {
    width: 100%;
    height: 60vh;
    position: relative;

    @include respond(tab-port) {
      height: 50vh;
    }
  }

  &__info{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  &__title {
    font-size: 2.5rem;
    color: $default;
    font-weight: 500;
  }

  &__creator-details {
    & > *:not(:last-child) {
      margin-right: 2rem;
      font-size: 2rem;
    }
  }

  &__description {
    text-align: justify;

    &__btn {
      background: transparent;
      color: $default;
      border: none;
      font-size: 1.8rem;
      margin: 0 1rem;
      padding: 0.3rem;
      cursor: pointer;

      &:hover {
        background: rgba($default, 0.1);
      }
    }
  }

  &__menu {
    display: flex;
    gap: 2rem;

    li {
      font-size: 3rem;
      cursor: pointer;
      border-radius: var(--border-radius-sm);
      padding: 0.5rem;
      display: flex;
      align-items: center;
      transition: 0.3s background;

      svg.item-active {
        color: $defaultDark;
      }

      &:hover {
        background: rgba($default, 0.2);
      }
    }
  }
}
