.animate {
  animation: topToBottom 2s ease;
  animation-fill-mode: none, forwards;
}

@keyframes topToBottom {
  0% {
    top: -15%;
    opacity: 0;
  }

  100% {
    top: 15%;
    opacity: 1;
  }
}
