@import "../../sass/global";

.playlist {
  color: $color-black;
  height: 15rem;
  overflow: auto;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    accent-color: $defaultDark;
  }

  &__input {
    margin-right: 1rem;
    height: 1.8rem;
    width: 1.8rem;
  }

  &__label {
    font-size: 1.5rem;
    @include overflow-text;
  }
}

.playlist::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.playlist::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.playlist::-webkit-scrollbar-thumb {
 background: var(--bg-color);
}

/* Handle on hover */
.playlist::-webkit-scrollbar-thumb:hover {
  background: $color-black;
}
