.main-section {
  min-height: calc(100vh - 10rem);
  position: relative;
  overflow-x: hidden;

  .alert{
    position: fixed;
    max-width: 30rem;
    right: 2rem;
    top: 10%;
    z-index: 120;
  }
}

.btn.btn-contained{
  font-family: inherit;
}