@import "https://unpkg.com/mockman-js@latest/dist/style.css";

:root {
  --bg-color: #303030;
  --default: #f6d48d;
  --defaultLight: #f3c669;
  --defaultDark: #f0b845;
  --text-color: #f8f9fa;
}

html {
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  font-family: inherit;
}

body {
  font-family: inherit;
  background-color: var(--bg-color);
  color: var(--text-color);
}


